section.portfolio-wrap
  .container
    .portfolio
      .portfolio_info
        .portfolio-photo_wrap
          img.portfolio-photo_body(src="@img/my-photo.jpg", alt="")

        h3.portfolio_subtitle Front-End Developer
        h1.portfolio_title Yury Chub
        p.portfolio_description Hi, I am a frontend developer, and I create websites, web interfaces, 
                              | web animations and adaptation of resources for different devices. 
                              | When working on a project or task, I break the work into stages to 
                              | constantly control the process and get the result in the most efficient
                              | way. In my work, I try to take into account the wishes of the team. 
                              | I love interesting and challenging projects that push me to self-development.
        .educations
          h2.educations_title Education and experience:
          ul.educations_list
            li.education
              h2.education_title Azov Regional Institute of Management
              h3.education_subtitle Economic cybernetics
              p.education_date 2007 – 2011   |   Ukraine
            li.education
              h2.education_title Azov Cable Company
              h3.education_subtitle Database operator
              p.education_date 2011 – 2012   |   Ukraine
            li.education
              h2.education_title Internet provider "Intelcom"
              h3.education_subtitle Internet network installer
              p.education_date 2012 – 2017   |   Ukraine
            li.education
              h2.education_title Ukrainian Scientific Research Institute of Cable Industry
              h3.education_subtitle Electrical test technician
              p.education_date 2017 – 2021   |   Ukraine
            li.education
              h2.education_title HTML/CSS + JS courses
              p.education_date Aug – Sep 2021   |   Ukraine
            li.education
              h2.education_title Internship at the company "Webcase"
              h3.education_subtitle Junior front-end developer
              p.education_date Sep 2021 – Feb 2022   |   Ukraine
        .skills
          h2.skills_title Tech Skills
          ul.skills_list
            li.skills_item HTML5 (Pug, BEM)
            li.skills_item CSS3 (SASS, SCSS)
            li.skills_item JavaScript (native, jQuery, Ajax, Vue, Express)
            li.skills_item MongoDb
            li.skills_item GIT
            li.skills_item Gulp
        .projects
          h2.projects_title Projects
          ul.projects_list
            h3.projects_list-title Course
            li.projects_item
              h4.projects_item-title Wc_Mirage  
                span.projects_item-subtitle [HTML5, CSS3, Sass]
              p.projects_item-content
                a.projects_item-link(href="https://chubyury.github.io/Wc_Mirage/") Sites
                span  \ 
                a.projects_item-link(href="https://github.com/ChubYury/Wc_Mirage") Repository
            li.projects_item
              h4.projects_item-title Wc__trevland  
                span.projects_item-subtitle [HTML5, CSS3, Sass]
              p.projects_item-content 
                a.projects_item-link(href="https://chubyury.github.io/Wc__trevland/server/markup/templates/") Sites
                span  \ 
                a.projects_item-link(href="https://github.com/ChubYury/Wc__trevland") Repository
            li.projects_item
              h4.projects_item-title Wc_Ycapsula  
                span.projects_item-subtitle [HTML5, CSS3, Sass]
              p.projects_item-content 
                a.projects_item-link(href="https://chubyury.github.io/Wc_Ycapsula/server/markup/templates/") Sites
                span  \ 
                a.projects_item-link(href="https://github.com/ChubYury/Wc_Ycapsula") Repository
            li.projects_item
              h4.projects_item-title Flava  
                span.projects_item-subtitle [HTML5, CSS3, Sass, Js]
              p.projects_item-content 
                a.projects_item-link(href="https://chubyury.github.io/flava/server/markup/templates/") Sites
                span  \ 
                a.projects_item-link(href="https://github.com/ChubYury/flava") Repository
          ul.projects_list
            h3.projects_list-title Pet
            li.projects_item
              h4.projects_item-title Single page  
                span.projects_item-subtitle [HTML5, CSS3, Sass]
              p.projects_item-content 
                a.projects_item-link(href="https://chubyury.github.io/Web_course/index.html") Sites
                span  \ 
                a.projects_item-link(href="https://github.com/ChubYury/Web_course") Repository
            li.projects_item
              h4.projects_item-title Coach app  
                span.projects_item-subtitle [HTML5, CSS3, Vue, Express, MongoDB]
              p.projects_item-content 
                a.projects_item-link(href="https://vlp-umber.vercel.app/coaches") Sites
                span  \ 
                a.projects_item-link(href="https://github.com/ChubYury/VLP") Repository Vue
                span  \ 
                a.projects_item-link(href="https://github.com/ChubYury/vueServer") Repository Express
            li.projects_item
              h4.projects_item-title My tools  
                span.projects_item-subtitle [Js, Gulp]
              p.projects_item-content 
                a.projects_item-link(href="https://github.com/ChubYury/templateGulp") Repository

                

      aside.portfolio_skills
        .contact
          h2.contact_title Contacts
          p.contact_item
            span.icon-box
              img.phone-dims(src="./images/icons/icons.svg#phone")
            a(href="tel:+380990895767") Phone
          p.contact_item
            span.icon-box
              img.email-dims(src="./images/icons/icons.svg#email")
            a(href="mailto:yurichubwork@gmail.com") Email
          p.contact_item
            span.icon-box
              img.git-dims(src="./images/icons/icons.svg#git")
            a(href="https://github.com/ChubYury") GitHub
          p.contact_item
            span.icon-box
              img.telega-dims(src="./images/icons/icons.svg#telega")
            a(href="https://t.me/+380990895767") Telegram
