:root {
  --mq-size-sm: 540px;
  --mq-size-md: 716px;
  --mq-size-lg: 960px;
  --mq-size-xl: 1170px;

  --theme-color-base: #E5E5E5;
  --theme-bg-base: #B1CCFF;

  --text-color-base: #595959;
  --text-color-title: #000000;
  --text-color-subtitle: #A8A8A8;
  --text-color-link: #6D9BF5;
}