*
  box-sizing: border-box

html
  scroll-behavior: smooth

body
  background: var(--bg)
  color: var(--text)
  font-family: var(--font-sans)

a
  color: inherit
  &:hover
    opacity: .8

img
  display: block

picture
  display: contents

[hidden]
  display: none !important

[id]
  scroll-margin-top: 80px
